html {
    min-height: 100vh;
    margin: 0;
    min-width: 300px;
    box-sizing: border-box;
}

body {
    /* background:linear-gradient(90deg,rgb(24, 22, 22),rgb(55, 53, 53) 85%,rgb(35, 33, 33)); */
    text-align: center;


}

.navbar-brand {
    margin: 1px;
    padding: 3px;
    height: 45px;
}

.navbar-nav {
    float: right;


}

.container {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 1.4%;

}

.sub-text {
    width: 280px;
    font-family: sans-serif;


}

img.logo,
img.mark-muyot {
    max-height: 75vh;
    /* min-height:33vh;
     */

}

img.logo {
    height: 22vh;

}

img.mark-muyot {
    border-radius: 1%;
    height: 76vh;


}

.right-section {
    font-size: 18px;
    padding-top: 30px;
    padding-left: 10px;
}

hr.hr1 {
    background-color: rgb(92, 66, 31);

}


.socmedia {
    word-spacing: 4px;
    background-color: rgba(236, 236, 236, 0.979);
    margin-top: 25px;
}

/* ++++++++++++++Aboutme page+++++++++++++++++++++++++++++ */

.aboutme {
    display: flex;
    background-color: #f1f1f1;
    padding: 95px;
    float: left;

    margin-top: -20px;

}

.aboutme-img {
    width: 350px;
    height: 320px;
    margin-top: 1px;
    border-radius: 50%;
    margin-right: 50px;

}

.bio {
    color: rgb(70, 69, 69);
    font-size: 18px;
    line-height: 1.8;
    font-family: Arial, 'Trebuchet MS', sans-serif;
    text-align: justify
}

.bio>h2 {
    padding-bottom: 30px;
}



/* ++++++++++++++Contact page+++++++++++++++++++++++++++++ */

.right-section-contact {
    font-family: calibri, sans-serif, monospace;
    background-color: #fff;
    line-height: 1.4;
    font-size: 104%;
    padding-top: 15px;
    padding-left: 10px;
    /* border: 2px solid black; */
    width: 405px;

}

.contact-header {
    margin-bottom: 25px;

}

textarea#subject {
    width: 200px;
    padding-bottom: 23px;
    margin-top: 12px;
    margin-bottom: 5px;
}

hr.contactme {
    padding-bottom: 20px;
    ;
}

.contact {

    line-height: 1;
    border: 2px solid black;
    display: inline;
    font-size: 16px;


}


@media screen and (max-width: 880px) {
    .container {
        display: block;
    }

    .right-section-contact {
        margin: auto;

    }

}

@media screen and (max-width: 1100px) {

    .aboutme {
        display: flex;
        background-color: #f1f1f1;
        padding: 30px;
        float: left;

        margin-top: -25px;

    }

    .aboutme-img {
        width: 320px;
        height: 280px;
        margin-top: -1=px;
        border-radius: 50%;
        margin-right: 30px;

    }

    .bio {
        font-size: 15px;
        font-family: sans-serif, Arial;
        text-align: justify
    }

    .bio>h2 {
        padding-bottom: 0px;
    }

    .right-section-contact {
        line-height: 1.1;
        font-size: 95%;
        padding-top: 1px;
        /* border: 2px solid black; */


    }


    textarea#subject {

        padding-bottom: 10px;
        margin-top: 9px;
        margin-bottom: 3px;
    }

    hr.contactme {
        padding-bottom: 0px;
        ;
    }


}