html {
    min-height: 100vh;
    margin: 0;
    min-width: 300px;
    box-sizing: border-box;
}

body {
    /* background:linear-gradient(90deg,rgb(24, 22, 22),rgb(55, 53, 53) 85%,rgb(35, 33, 33)); */
    text-align: center;


}

.navbar-brand {
    margin: 1px;
    padding: 3px;
    height: 45px;
}

.navbar-nav {
    float: right;


}

.container {
    display: flex;
    justify-items: center;
    justify-content: center;
    padding-top: 1.4%;

}

.sub-text {
    width: 280px;
    font-family: sans-serif;


}

img.logo,
img.mark-muyot {
    max-height: 75vh;
    /* min-height:33vh;
     */

}

img.logo {
    height: 22vh;

}

img.mark-muyot {
    border-radius: 1%;
    height: 76vh;


}

.right-section {
    font-size: 18px;
    padding-top: 30px;
    padding-left: 10px;
}

hr.hr1 {
    background-color: rgb(92, 66, 31);

}


.socmedia {
    word-spacing: 4px;
    background-color: rgba(236, 236, 236, 0.979);
    margin-top: 25px;
}

/* ++++++++++++++Aboutme page+++++++++++++++++++++++++++++ */

.aboutme {
    display: flex;
    background-color: #f1f1f1;
    padding: 95px;
    float: left;

    margin-top: -20px;

}

.aboutme-img {
    width: 350px;
    height: 320px;
    margin-top: 1px;
    border-radius: 50%;
    margin-right: 50px;

}

.bio {
    color: rgb(70, 69, 69);
    font-size: 18px;
    line-height: 1.8;
    font-family: Arial, 'Trebuchet MS', sans-serif;
    text-align: justify
}

.bio>h2 {
    padding-bottom: 30px;
}

.skills h3 {
    padding-top: 30px;
    padding-bottom: 60px;
    text-decoration: underline;

}

.my-skills {
    background-color: rgb(209, 213, 217);
    text-align: center;
    padding-top: 44%;
    padding-bottom: 7%;



}

  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }





/* .my-skills::after {
    content: '';
    display: block;
    clear: both;
    padding-top: 40px; 

}*/

.Java,
.HTML,
.CSS,
.Javascript,
.SQL,
.Visualcodestudio,
.Eclipse,
.GitHub {
    width: 22%;
    display: inline-block;
    float: center;
}

.logo {
    font-size: 38px;
    padding-top: 30px;
    padding-bottom: 20px;

}

.projects {
    padding-top: 60px;
    padding-bottom: 70px;
    text-align: center;
    height: 550px;
    overflow: hidden;
}


.myprojhead {
    padding-bottom: 50px;
    margin-top: 0;
    text-decoration: underline;
    position: relative;
}

.frontend,
.backend,
.fullstack {
    height: 330px;
    width: 30%;

    float: left;
    background-color: aquamarine;
    overflow: hidden;
}

.backend {
    margin-left: 2%;
    margin-right: 1.5%;
    background-image: url(backend.jpg);
    background-size: cover;

}

.frontend {
    margin-left: 1%;
    margin-right: 1%;
    background-image: url(samplefrontend.jpg);
    background-size: cover;
}

.fullstack {
    margin-left: 1.5%;
    margin-right: 2%;
    background-image: url(Full-Stack-Projects-1160x567.png);
    background-size: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    padding-top: 330px;



}

.overlay:hover {
    background-color: rgba(0, 0, 0, .7);
    transition: .5s;
    padding-top: 4px;


}



.overlay a {
    display: inline-block;
    font-size: 15px;
    padding: 20px 20px;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    justify-content: center;

}

/* ++++++++++++++Contact page+++++++++++++++++++++++++++++ */

.right-section-contact {
    font-family: calibri, sans-serif, monospace;
    background-color: #fff;
    line-height: 1.4;
    font-size: 104%;
    padding-top: 15px;
    padding-left: 10px;
    /* border: 2px solid black; */
    width: 405px;

}

.contact-header {
    margin-bottom: 25px;

}

textarea#subject {
    width: 200px;
    padding-bottom: 23px;
    margin-top: 12px;
    margin-bottom: 5px;
}

hr.contactme {
    padding-bottom: 20px;
    ;
}

.contact {

    line-height: 1;
    border: 2px solid black;
    display: inline;
    font-size: 16px;


}


@media screen and (max-width: 880px) {
    .container {
        display: block;
    }

    .right-section-contact {
        margin: auto;

    }

}



@media screen and (max-width: 1100px) {

    .aboutme {
        display: flex;
        background-color: #f1f1f1;
        padding: 30px;
        float: left;

        margin-top: -25px;

    }

    .aboutme-img {
        width: 320px;
        height: 280px;
        margin-top: -1px;
        border-radius: 50%;
        margin-right: 30px;

    }

    .bio {
        font-size: 15px;
        font-family: sans-serif, Arial;
        text-align: justify
    }

    .bio>h2 {
        padding-bottom: 0px;
    }

    .right-section-contact {
        line-height: 1.1;
        font-size: 95%;
        padding-top: 1px;
        /* border: 2px solid black; */


    }


    textarea#subject {

        padding-bottom: 10px;
        margin-top: 9px;
        margin-bottom: 3px;
    }

    hr.contactme {
        padding-bottom: 0px;
        ;
    }

    @media screen and (max-width: 800px) {

        .aboutme {
            display: inline;

        }

        .bio {
            font-size: 16px;
            font-family: sans-serif, Arial;
            text-align: justify;
            line-height: 1.9;
            font-weight: 900px;


        }

        .bio h2 {
            line-height: 3;
            text-align: center;
        }


    }


}